#!/usr/bin/env bash
scriptVersion="1.2"
scriptName="AutoExtras"

#### Import Settings
source /config/extended.conf

log () {
  m_time=`date "+%F %T"`
  echo $m_time" :: $scriptName :: $scriptVersion :: "$1
}

if [ "$enableExtras" != "true" ]; then
	log "Script is not enabled, enable by setting enableExtras to \"true\" by modifying the \"/config/extended.conf\" config file..."
	log "Sleeping (infinity)"
	sleep infinity
fi

getArrAppInfo () {
  # Get Arr App information
  if [ -z "$arrUrl" ] || [ -z "$arrApiKey" ]; then
    arrUrlBase="$(cat /config/config.xml | xq | jq -r .Config.UrlBase)"
    if [ "$arrUrlBase" == "null" ]; then
      arrUrlBase=""
    else
      arrUrlBase="/$(echo "$arrUrlBase" | sed "s/\///g")"
    fi
    arrName="$(cat /config/config.xml | xq | jq -r .Config.InstanceName)"
    arrApiKey="$(cat /config/config.xml | xq | jq -r .Config.ApiKey)"
    arrPort="$(cat /config/config.xml | xq | jq -r .Config.Port)"
    arrUrl="http://127.0.0.1:${arrPort}${arrUrlBase}"
  fi
}

verifyApiAccess () {
  until false
  do
    arrApiTest=""
    arrApiVersion=""
    if [ "$arrPort" == "8989" ] || [ "$arrPort" == "7878" ]; then
      arrApiVersion="v3"
    elif [ "$arrPort" == "8686" ] || [ "$arrPort" == "8787" ]; then
      arrApiVersion="v1"
    fi
    arrApiTest=$(curl -s "$arrUrl/api/$arrApiVersion/system/status?apikey=$arrApiKey" | jq -r .instanceName)
    if [ "$arrApiTest" == "$arrName" ]; then
      break
    else
      log "$arrName is not ready, sleeping until valid response..."
      sleep 1
    fi
  done
}

AutoExtrasProcess () {

  # auto-clean up log file to reduce space usage
  if [ -f "/config/logs/AutoExtras.txt" ]; then
  	find /config/logs -type f -name "AutoExtras.txt" -size +1024k -delete
  fi
  
  if [ ! -f "/config/logs/AutoExtras.txt" ]; then
    touch "/config/logs/AutoExtras.txt"
    chmod 777 "/config/logs/AutoExtras.txt"
  fi
  exec &> >(tee -a "/config/logs/AutoExtras.txt")
    
  radarrMovieList=$(curl -s --header "X-Api-Key:"${arrApiKey} --request GET  "$arrUrl/api/v3/movie")
  radarrMovieTotal=$(echo "${radarrMovieList}"  | jq -r '.[] | select(.hasFile==true) | .id' | wc -l)
  radarrMovieIds=$(echo "${radarrMovieList}" | jq -r '.[] | select(.hasFile==true) | .id')
  
  loopCount=0
  for id in $(echo $radarrMovieIds); do
    loopCount=$(( $loopCount + 1 ))
    log "$loopCount of $radarrMovieTotal :: $id :: Processing with Extras.bash"
    bash /config/extended/Extras.bash "$id"
  done

}

log "Starting Script...."
for (( ; ; )); do
  let i++
  getArrAppInfo
  verifyApiAccess
  AutoExtrasProcess
  log "Script sleeping for 24 hours..."
  sleep 24h
done

exit
