#!/usr/bin/env bash
scriptVersion="1.5"
scriptName="AutoExtras"

#### Import Settings
source /config/extended.conf
#### Import Functions
source /config/extended/functions
#### Create Log File
logfileSetup

verifyConfig () {
	
	if [ "$enableExtras" != "true" ]; then
		log "Script is not enabled, enable by setting enableExtras to \"true\" by modifying the \"/config/extended.conf\" config file..."
		log "Sleeping (infinity)"
		sleep infinity
	fi

	if [ -z "$autoExtrasScriptInterval" ]; then
	    autoExtrasScriptInterval="24h"
	fi
}

AutoExtrasProcess () {
    
  radarrMovieList=$(curl -s --header "X-Api-Key:"${arrApiKey} --request GET  "$arrUrl/api/v3/movie")
  radarrMovieTotal=$(echo "${radarrMovieList}"  | jq -r '.[] | select(.hasFile==true) | .id' | wc -l)
  radarrMovieIds=$(echo "${radarrMovieList}" | jq -r '.[] | select(.hasFile==true) | .id')
  
  loopCount=0
  for id in $(echo $radarrMovieIds); do
    loopCount=$(( $loopCount + 1 ))
    log "$loopCount of $radarrMovieTotal :: $id :: Processing with Extras.bash"
    bash /config/extended/Extras.bash "$id"
  done

}

for (( ; ; )); do
  let i++
  logfileSetup
  verifyConfig
  getArrAppInfo
  verifyApiAccess
  AutoExtrasProcess
  log "Script sleeping for $autoExtrasScriptInterval..."
  sleep $autoExtrasScriptInterval
done

exit
